Repository hmcts/ia-bail-case-api, pull requests merged in 2022-09, with the labels that each got.

#257 Ria 6160 capture lr company address api
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-257

#262 RIA-6160 pipeline issue fix
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-262

#264 Ia bail case api noc rebase to master api v1
  catalog-info.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ShowPreviousApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatter.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ShowPreviousApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepOrganisationFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-264

#249 Updates to fix home office bail permission
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabel.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationSubmittedByAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationUserRoleAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CurrentUserRoleAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadDocumentsHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabelTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationUserRoleAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CurrentUserRoleAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadDocumentsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-249

#268 RIA-6121: Suppress vulnerabilities - CVE-2022-38751, CVE-2022-38750, …
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-268

#267 Ria 6140 applicant name role on case
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdSupplementaryProviderBaseTest.java
  src/contractTest/resources/application.properties
  src/functionalTest/resources/scenarios/RIA-5851-start-application-confirmation.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-267

#251 RIA-6126 Added phone number for LR details update event
  src/functionalTest/resources/scenarios/RIA-5891-update-legal-rep-details-AboutToSubmit-update-data.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-251

#271 RIA-6128: Added new collection for unsigned decision document
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-271

#274 RIA-6129: Generate pdf document for uploaded signed decision.
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadSignedDecisionNoticeHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadSignedDecisionNoticeHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-274
