Repository hmcts/ia-bail-case-api, pull requests merged in 2022-02, with the labels that each got.

#21 RIA-5471: Update dependencies & address vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  lombok.config
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-21

#34 RIA-5503: Upgrade base helm charts to latest
  charts/ia-bail-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-34

#32 RIA-5446 Adding IDAM api and isAdmin field
  Jenkinsfile_CNP
  build.gradle
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.preview.template.yaml
  charts/ia-bail-case-api/values.yaml
  docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/UserDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/UserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabel.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/CaseDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationIsAdminAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/IdamApi.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/idam/Token.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/idam/UserInfo.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/DisableHystrixFeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/FeignConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/PreSubmitCallbackController.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/WelcomeController.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/AccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/RequestUserAccessTokenProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdentityManagerResponseException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabelTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/YesOrNoTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationIsAdminAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/WelcomeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/RequestUserAccessTokenProviderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-32
