Repository hmcts/ia-bail-case-api, pull requests merged in 2022-08, with the labels that each got.

#241 RIA-5891 added update legal rep details event
  src/functionalTest/resources/scenarios/RIA-5891-update-legal-rep-details-AboutToStart-email-appender.json
  src/functionalTest/resources/scenarios/RIA-5891-update-legal-rep-details-AboutToSubmit-update-data.json
  src/functionalTest/resources/scenarios/RIA-5891-update-legal-rep-details-confirmation.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/LegalRepresentativeUpdateDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/LegalRepresentativeUpdateDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeUpdateDetailsPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-241

#243 RIA-5900 Added stop representing a client event
  src/functionalTest/resources/scenarios/RIA-5900-stop-representing-AboutToStart-preparer-with-lap.json
  src/functionalTest/resources/scenarios/RIA-5900-stop-representing-AboutToStart-preparer-without-lap.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/RemoveRepresentationPreparer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ChangeRepresentationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/RemoveRepresentationPreparerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-243

#228 Ria 5622 populate previous application details
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ShowPreviousApplicationConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ShowPreviousApplicationConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-228

#252 Add backstage configuration file
  catalog-info.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-252
