Repository hmcts/ia-bail-case-api, pull requests merged in 2022-07, with the labels that each got.

#203 RIA-5924 - NoC demo env bug fix
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.yaml
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-203

#224 Sets empty string to null
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/EditDocsAuditService.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-224

#201 RIA-5851 functional tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/DataFixingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/EndpointSecurityTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/WelcomeTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/config/DocumentUploadClientApiConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/.gitkeep
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/fixtures/DocumentManagementFilesFixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/fixtures/Fixture.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/fixtures/documents/DocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/fixtures/documents/DocumentUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/BinaryResourceLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/LaunchDarklyFunctionalTestClient.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/MapFieldAssertor.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/MapMerger.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/MapSerializer.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/MapValueExpander.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/MapValueExtractor.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/StringResourceLoader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/SystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/verifiers/CaseDataVerifier.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/verifiers/Verifier.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/documents/doc1.pdf
  src/functionalTest/resources/documents/doc2.pdf
  src/functionalTest/resources/documents/doc3.pdf
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToStart-HO-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToStart-LR-ref-data.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToStart-LR-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-Admin-upload-b1.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-detention-facility-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-full-name-formatter.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-hearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-stateless-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToSubmit-submitted-by-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-MidEvent-date-validation-fail.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-MidEvent-noc-error-redirect.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-MidEvent-prev-application-done-via-aria.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-MidEvent-prev-application-done-via-ccd.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-confirmation.json
  src/functionalTest/resources/scenarios/submit-application-postsubmit.json
  src/functionalTest/resources/scenarios/submit-application-presubmit.json
  src/functionalTest/resources/templates/minimal-application-started.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/FeatureToggleConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/OpenAPIConfiguration.java
  src/main/resources/bootstrap.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-201

#206 Ria 5912 submit application functional tests
  src/functionalTest/resources/scenarios/RIA-5912-submit-application-upload-bail-evidence.json
  src/functionalTest/resources/scenarios/RIA-5912-submit-application-uploadB1Document.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-206

#208 Ria 5947 end application functional tests
  src/functionalTest/resources/scenarios/RIA-5947-end-application-AboutToSubmit-handler.json
  src/functionalTest/resources/scenarios/RIA-5947-end-application-confirmation-Admin.json
  src/functionalTest/resources/scenarios/RIA-5947-end-application-confirmation-Judge.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-208

#209 Ria 5948 upload bail summary functional tests
  src/functionalTest/resources/scenarios/RIA-5948-upload-bail-summary-AboutToSubmit-handler.json
  src/functionalTest/resources/scenarios/RIA-5948-upload-bail-summary-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-209

#213 Ria 5949 record the decision functional tests
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToStart-conditions-appender.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-cond-granted-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-cond-granted-ss.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-granted-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-granted-ss.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-dl.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-ss.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-confirmation.json
  src/functionalTest/resources/templates/minimal-application-submitted-record-conditions.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-213

#217 Ria 5950 upload signed decision notice functional
  src/functionalTest/resources/scenarios/RIA-5950-upload-signed-decision-notice-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5950-upload-signed-decision-notice-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-217

#214 Ria 5951 add case note functional tests
  src/functionalTest/resources/scenarios/RIA-5951-add-case-note-AboutToSubmit-Admin.json
  src/functionalTest/resources/scenarios/RIA-5951-add-case-note-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-214

#216 Ria 5953 change direction due date functional
  src/functionalTest/resources/scenarios/RIA-5953-change-direction-due-date-AboutToStart-no-directions-exist.json
  src/functionalTest/resources/scenarios/RIA-5953-change-direction-due-date-AboutToStart-with-existing-directions.json
  src/functionalTest/resources/scenarios/RIA-5953-change-direction-due-date-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5953-change-direction-due-date-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-216

#215 Ria 5954 move application to decided functional tests
  src/functionalTest/resources/scenarios/RIA-5954-move-application-to-decided-AboutToStart-Admin.json
  src/functionalTest/resources/scenarios/RIA-5954-move-application-to-decided-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-215

#211 Ria 5913 upload documents functional
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-AboutToStart-HO-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-AboutToStart-Judge-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-AboutToStart-LR-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-confirmation.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-211

#218 Ria 5914 edit application pre submit functional tests
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-add-previous-case.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-confirmation.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-date-validation-fail.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-has-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-name.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-remove-nationality.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-submitted-by-appender.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-218

#207 Ria 5915 notice of change functional tests
  src/functionalTest/resources/scenarios/RIA-5915-remove-legal-representative-AboutToStart-preparer-with-lap.json
  src/functionalTest/resources/scenarios/RIA-5915-remove-legal-representative-AboutToStart-preparer-without-lap.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-207

#223 Added health alerting for bail case api
  README.md
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/HealthCheckConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/health/DownStreamHealthIndicator.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/health/ServiceHealthIndicator.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/health/DownStreamHealthIndicatorTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/health/ServiceHealthIndicatorTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-223

#229 Ria 5957 edit application post submit functional tests
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-case-inference-by-bail-aria.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-case-inference-by-bail-ccd.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-confirmation.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-date-validation-fail.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-detention-facility-appender.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-name.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-noc-error-redirect.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-stateless-handler-remove-nationality.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-submitted-by-appender.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-upload-bail-evidence.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-uploadB1Document.json
  src/functionalTest/resources/templates/minimal-application-submitted.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-229

#220 RIA-5959 functional tests view prev applications
  src/functionalTest/resources/scenarios/RIA-5959-view-previous-applications-AboutToStart-populate-previous-applications.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-220

#230 Ria 6019 bails address api security
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/PreSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/SecurityConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/CcdEventAuthorizor.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/SpringAuthorizedRolesProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/PreSubmitCallbackDispatcherTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/CcdEventAuthorizorTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/SpringAuthorizedRolesProviderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-230

#232 RIA-6040 fix LR confirmation bug
  charts/ia-bail-case-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-232

#233 RIA-6042 added security script
  Jenkinsfile_CNP
  security.sh
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-233

#234 RIA-6042 added secrets to Jenkinsfile_nightly
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-234

#235 RIA-6042 added audit.json
  audit.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-235

#236 RIA-6042 added ccdMidEvent?pageId=pageId_POST ignore
  audit.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-236

#237 Ria 6039 pact tests
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdCaseAssignmentConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdCaseAssignmentProviderBaseTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/idam/IdamConsumerApplication.java
  src/contractTest/resources/application.properties
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/MoveApplicationToDecidedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/IaBailCaseApiClient.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/StaticPortWiremockFactory.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/TestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/WithUserDetailsStub.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/BailCaseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/Builder.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/CallbackForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/CaseDetailsForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/PostSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/fixtures/PreSubmitCallbackResponseForTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/wiremock/CallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/wiremock/DocumentsApiCallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/wiremock/NotificationsApiCallbackTransformer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-237
