Repository hmcts/ia-bail-case-api, pull requests merged in 2022-04, with the labels that each got.

#55 RIA-5669: Added date uploaded to the grounds for bail evidence document
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/DateProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailEvidenceDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DocumentReceiver.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DocumentsAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/SystemDateProvider.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailEvidenceDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DocumentReceiverTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DocumentsAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/SystemDateProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-55

#56 RIA-5626 Hearing Centre mappings, entity, service and handler
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/HearingCentreFinder.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/HearingCentreFinderConfiguration.java
  src/main/resources/application-hearingcentre-mapping.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-56

#59 RIA-5623 Added handler and test to populate detentionFacility field
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DetentionFacilityAppender.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DetentionFacilityAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-59

#60 Ria 5669 add date uploaded document
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailEvidenceDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailEvidenceDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-60

#67 RIA-5610: Added delegator to send requests to Documents API & Notific…
  charts/ia-bail-case-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/InterpreterLanguage.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DocumentGenerator.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseCallbackApiDelegator.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseDocumentApiGenerator.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseServiceResponseException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseCallbackApiDelegatorTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseDocumentApiGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-67

#64 RIA-5455 Adding case state updater to allow state based filtering wit…
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CurrentCaseStateUpdater.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CurrentCaseStateUpdaterTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-64

#69 Ria 5343 upload bail summary
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailSummaryUploadedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailSummaryUploadedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-69

#68 RIA-5584: Added Notification Handler and Notification API details
  charts/ia-bail-case-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/NotificationSender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseNotificationApiSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/BailCaseNotificationApiSenderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-68

#72 RIA-5610: Disable document generation temporarily
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-72

#71 RIA-5487-Record-the-Decision-Event/State
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-71

#73 RIA-5584: Fix HearingCentre Names
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/main/resources/application-hearingcentre-mapping.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-73

#79 Ria 5345 uploaded bail summary notification email
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-79

#82 RIA-5652: Added new states for started by LR and HO
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/State.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/StateTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-82

#81 RIA-5488
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/RecordDecisionAppender.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/RecordDecisionAppenderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-81

#78 Ria 5491 ss not needed bail refused
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailDecisionRecordedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailDecisionRecordedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-78
