Repository hmcts/ia-bail-case-api, pull requests merged in 2022-03, with the labels that each got.

#37 RIA-5247: Added case fields in case api
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/NationalityFieldValue.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/AddressUK.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/IdValue.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/NationalityFieldValueTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/AddressUKTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-37

#39 Added caseField definitions, classes for Document, DocumentWithDescription and tests
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithDescription.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithMetadata.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/Document.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/HasDocument.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithDescriptionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentWithMetadataTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/field/DocumentTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-39

#38 Ria 5443 rep details
  Jenkinsfile_CNP
  README.md
  build.gradle
  charts/ia-bail-case-api/values.preview.template.yaml
  charts/ia-bail-case-api/values.yaml
  docker-pactbroker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/LegRepAddressUk.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ProfessionalUser.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ref/OrganisationEntityResponse.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationUserRoleAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/CompanyNameProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/ProfessionalOrganisationRetriever.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/RestTemplateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application-wa-local.yaml
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/LegRepAddressUkTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ProfessionalUserTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ref/OrganisationEntityResponseTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationUserRoleAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/CompanyNameProviderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/ProfessionalOrganisationRetrieverTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/eventvalidation/EventValidCheckersTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-38

#43 RIA-5475: Added confirmation body and header to get confirmation page…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/callback/PostSubmitCallbackResponse.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/PostSubmitCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationUserRoleAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StatelessHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/PostSubmitCallbackDispatcher.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/PostSubmitCallbackController.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/callback/PostSubmitCallbackResponseTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/LegalRepresentativeDetailsAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StatelessHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/PostSubmitCallbackDispatcherTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-43

#46 RIA-5434: Added handler to populate field of 'Submitted by'
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabel.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationSubmittedByAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleLabelTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationSubmittedByAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelperTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-46

#47 RIA-5433 Post-save application overview tabs
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicantFullNameFormatter.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationSubmittedByAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/BailReferenceNumberHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsLegallyRepresentedForFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicantFullNameFormatterTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationSubmittedByAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/BailReferenceNumberHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsLegallyRepresentedForFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/controllers/PreSubmitCallbackControllerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-47

#49 RIA-5452: Add hyperlink to submission in successpage for save applica…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-49

#50 RIA-5453: Added confirmation body for Success Page On Submission
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/State.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmation.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/StateTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-50
