Repository hmcts/ia-bail-case-api, pull requests merged in 2023-08, with the labels that each got.

#368 RIA-7719 Solve vulnerabilities
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-368

#373 SNI-4413 - fix NPE in Preview application case notes label generator
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-373

#360 RIA-5804 CDAM vs DM changes with feature flag
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.preview.template.yaml
  charts/ia-bail-case-api/values.yaml
  config/checkstyle/checkstyle.xml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/AssignCaseAccessConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdCaseAssignmentConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/idam/IdamApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/fixtures/documents/DocumentUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/CDAMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/DMSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/SystemDocumentManagementUploader.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/Application.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/JacksonConfiguration.java
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-360

#376 RIA-6817 - added fortify scan on nightly build
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-376
