Repository hmcts/ia-bail-case-api, pull requests merged in 2023-05, with the labels that each got.

#302 Case Linking -> Master
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdSupplementaryConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/ccd/CcdSupplementaryProviderBaseTest.java
  src/contractTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/BailCaseDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/CcdSupplementaryUpdater.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/BailCaseDataConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailFieldCaseNameFixer.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/DataFixer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSavedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/CcdSupplementaryUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-302, do_not_merge

#339 Updated dependencies to remove suppressed CVEs
  Dockerfile
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/MoveApplicationToDecidedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/SpringBootIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/testutils/StaticPortWiremockFactory.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-339

#348 DTSPO-13810 reschedule jenkins nightly builds
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-348

#349 DTSPO-13810 reschedule nightlybuilds to start at 8am
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-349
