Repository hmcts/ia-bail-case-api, pull requests merged in 2023-02, with the labels that each got.

#311 RIA-6684 Added fixer to populate from full name
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/BailCaseDataFixingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/BailCaseDataConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailFieldCaseNameFixer.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/DataFixer.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-311

#317 To upgrade java chart version
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  charts/ia-bail-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-317

#318 To revise chart version
  charts/ia-bail-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-318
