Repository hmcts/ia-bail-case-api, pull requests merged in 2023-12, with the labels that each got.

#418 RIA-7996 Party ID generation
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-legal-rep-added.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-legal-rep-cleared.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-supporters-added.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-supporters-cleared.json
  src/functionalTest/resources/scenarios/RIA-7996-start-application-generate-party-ids-applicant-legal-rep-supporters.json
  src/functionalTest/resources/scenarios/RIA-7996-start-application-generate-party-ids-applicant-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-7996-start-application-generate-party-ids-applicant.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/PartyIdHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/PartyIdGenerator.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/PartyIdHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/PartyIdGeneratorTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-418

#421 RIA-8025 Confirm detention location event added
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-421

#427 DIAC-123 dependency fixes 07/12/23
  Jenkinsfile_nightly
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-427

#428 RIA-7953 Fix minor bugs FcsInterpreterCategoryValidator
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/FcsInterpreterCategoryValidator.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-428

#422 RIA-7992 add case flag for fcs
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/util/ResourceLoader.java
  src/functionalTest/resources/scenarios/RIA-7992-create-flag-AboutToStart-party-role-fcs.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-422

#423 RIA-8000 Added handlers for the new event 'Update Interpreter details
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8000-Update-interpreter-details-confirmation.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/InterpreterDetails.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UpdateInterpreterDetailsHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-423

#430 RIA-8000 added CVE-2023-6481 suppression
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-430

#431 RIA-7953 Fixed hasFCS data removal bug
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-431

#432 RIA-8261 Fixed case flag details bug
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/CaseFlagValue.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-432

#433 RIA-7969 send direction list case
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-433

#434 RIA-8112 Added sendUploadBailSummaryDirection to send notification ha…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-434

#435 DIAC-184 build fix 18-12-23
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-435

#436 RIA-8311 Clearing isDetentionLocationCorrect after edit post submit
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-436

#437 RIA-8311 Adding equals(NO) check before clearing detention location field
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-437

#438 RIA-8310 Allowing case flags to be created for FCS regardless of interpreter reqs
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-438

#439 RIA-8362 Updates to clear interpreter booking status information
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-439
