Repository hmcts/ia-bail-case-api, pull requests merged in 2023-11, with the labels that each got.

#413 RIA-7949 FCS contact pref mid event handler - error validation
  src/functionalTest/resources/scenarios/RIA-7949-start-application-MidEvent-fcs-contact-preferences-fail-no-email.json
  src/functionalTest/resources/scenarios/RIA-7949-start-application-MidEvent-fcs-contact-preferences-fail-no-phone.json
  src/functionalTest/resources/scenarios/RIA-7949-start-application-MidEvent-fcs-contact-preferences-success.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ContactPreference.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/FinancialConditionSupporterContactPreferenceMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ContactPreferenceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/FinancialConditionSupporterContactPreferenceMidEventHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-413

#416 RIA-8888 fix checkstyle.xml
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-416

#417 RIA-7990 Updated party role Applicant
  src/functionalTest/resources/scenarios/RIA-7990-create-flag-AboutToStart-party-role-applicant.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlag.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-417

#414 RIA-7952 Added handlers to populate the lists of languages (spoken a…
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/RefDataConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/RefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/util/ResourceLoader.java
  src/contractTest/resources/application.properties
  src/contractTest/resources/response/RefDataInterpreterLanguageResponse.json
  src/contractTest/resources/response/RefDataSignLanguageResponse.json
  src/functionalTest/resources/scenarios/RIA-7952-edit-application-post-submit-with-interpreter-details.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/InterpreterLanguageRefData.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicantInterpreterLanguagesDynamicListUpdater.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/utils/InterpreterLanguagesUtils.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/dto/hearingdetails/CategoryValues.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/dto/hearingdetails/CommonDataResponse.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/refdata/CommonDataRefApi.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/RefDataUserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicantInterpreterLanguagesDynamicListUpdaterTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/RefDataUserServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/utils/InterpreterLanguagesUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-414
