Repository hmcts/ia-bail-case-api, pull requests merged in 2023-09, with the labels that each got.

#383 RIA-5679 Adding suppressions
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-383

#384 RIA-5679 Suppression-To-Dependency
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-384

#387 DIAC-42 remove close connection
  .github/workflows/pr-title-validation.yml
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/ProfessionalOrganisationConsumerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-387

#352 RIA-5942 Strategic case flags
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/CaseFlagDetail.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/CaseFlagValue.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/StrategicCaseFlagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CreateFlagHandlerTest.java
Labels: ns:ia, prd:ia, add-or-update, rel:ia-bail-case-api-pr-352

#389 DIAC-14 fixing nightly
  Jenkinsfile_nightly
  audit.json
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  security.sh
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/CdamSystemDocumentManagementUploader.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/SystemDocumentManagementUploader.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-389
