Repository hmcts/ia-bail-case-api, pull requests merged in 2024-02, with the labels that each got.

#471 RIA-1111 fix_suppressions
  config/owasp/suppressions.xml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-471

#470 DIAC-228 dependency and fortify fixes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  config/owasp/suppressions.xml
  docker-pactbroker-compose.yml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-470

#469 RIA-8421 Show hearing details on the Previous Applications
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ListingHearingCentre.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ListingHearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-469

#466 DIAC-212 updating edit documents error message in line with case api
  src/functionalTest/resources/scenarios/RIA-5955-edit-documents-MidEvent-error.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandlerTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-bail-case-api-pr-466

#468 RIA-8232 feature_toggler_ima
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureTogglerHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureTogglerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-468

#472 RIA-8421 Fix Sonar failure
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-472

#473 RIA-8556 Update time format for hearing time in the previous applicat…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-473

#474 DIAC-236 splitting up tests to separate stages
  Jenkinsfile_nightly
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-474

#475 RIA-8232 Implement Feature toggle for IMA
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureTogglerHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureTogglerHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-475

#476 RIA-8232 Added new field RECORD_THE_DECISION_LIST_IMA to hold the dec…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-476

#477 RIA-8627 Update 'Success' screens for interpreter events
  build.gradle
  src/functionalTest/resources/scenarios/RIA-8000-Update-interpreter-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8001-Update-interpreter-booking-status-confirmation.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmation.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterBookingStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/UpdateInterpreterDetailsConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-477

#478 RIA-8232 set isImaEnabled at the submit of MAKE_NEW_APPLICATION event
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/MakeNewApplicationSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/MakeNewApplicationSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-478

#442 RIA-TASK - IMA -> Master: DO NOT MERGE
  README.md
  bin/init.sh
  build.gradle
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.yaml
  config/owasp/suppressions.xml
  docker-compose.yml
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/scenarios/RIA-8195-new-event-IMA-status.json
  src/functionalTest/resources/scenarios/RIA-8197-record-the-decision-AboutToSubmit-decision-type-appender-refused-under-ima-dgr.json
  src/functionalTest/resources/scenarios/RIA-8197-record-the-decision-AboutToSubmit-decision-type-appender-refused-under-ima-dl.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/DecisionType.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ImaStatusConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/MakeNewApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/FeatureToggler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/LaunchDarklyFeatureToggler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/BailApplicationSubmittedConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ImaStatusConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaFeatureToggleHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/MakeNewApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/editdocs/EditDocsMidEventHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, do_not_merge, enable_keep_helm, rel:ia-bail-case-api-pr-442
