Repository hmcts/ia-bail-case-api, pull requests merged in 2024-03, with the labels that each got.

#480 DIAC-281 fixing CcdScenarioRunnerTest
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-480

#481 RIA-8745 - Fix failing functional test
  src/functionalTest/resources/scenarios/RIA-8195-new-event-IMA-status.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-481

#482 RIA-8745 - Fix failing functional test
  src/functionalTest/resources/scenarios/RIA-8195-new-event-IMA-status.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-482

#483 RIA-8745 - Remove functional test exclusion
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-483

#485 DIAC-266 removing case notes from previous applications
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowApplicationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ShowPreviousApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-485
