Repository hmcts/ia-bail-case-api, pull requests merged in 2024-06, with the labels that each got.

#513 RIA-9110 - Updates to enable FT tests in pipeline
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-5912-submit-application-upload-bail-evidence.json
  src/functionalTest/resources/scenarios/RIA-5912-submit-application-uploadB1Document.json
  src/functionalTest/resources/scenarios/RIA-5913-upload-documents-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5947-end-application-AboutToSubmit-handler.json
  src/functionalTest/resources/scenarios/RIA-5948-upload-bail-summary-AboutToSubmit-handler.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-cond-granted-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-cond-granted-ss.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-granted-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-granted-ss.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-dgr.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-dl.json
  src/functionalTest/resources/scenarios/RIA-5949-record-the-decision-AboutToSubmit-decision-type-appender-refused-ss.json
  src/functionalTest/resources/scenarios/RIA-5950-upload-signed-decision-notice-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5951-add-case-note-AboutToSubmit-Admin.json
  src/functionalTest/resources/scenarios/RIA-5952-send-direction-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5953-change-direction-due-date-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-5955-edit-documents-AboutToSubmit-edit-descriptions.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-confirmation.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-detention-facility-appender.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-name.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-stateless-handler-remove-nationality.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-submitted-by-appender.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-upload-bail-evidence.json
  src/functionalTest/resources/scenarios/RIA-5957-edit-application-post-submit-uploadB1Document.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-Admin-upload-b1.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-HO-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-LR-ref-data.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-LR-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-append-prior-application.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-applicant-refused-flag-appender-outside-28days.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-applicant-refused-flag-appender-within-28days.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-application-submission-document.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-application-submission-notification.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-detention-facility-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-full-name-formatter.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-hearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-stateless-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-submitted-by-appender.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-upload-bail-evidence.json
  src/functionalTest/resources/scenarios/RIA-8355-case-listing-AboutToSubmit.json
  src/functionalTest/resources/scenarios/submit-application-presubmit.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-513

#515 RIA-9190 to perform updates to prison lookup
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/resources/application-hearingcentre-mapping.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-515

#517 RIA-9190 updates to add fosse way to prison list
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/resources/application-hearingcentre-mapping.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-517

#502 DIAC-148 updating for new field which switches yesNo context for transfer bail management
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-5892-make-new-application-AboutToStart-retain-case-notes.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToStart-clear-unrelated-fields.json
  src/functionalTest/resources/scenarios/RIA-5958-make-new-application-AboutToSubmit-append-prior-application.json
  src/functionalTest/resources/scenarios/RIA-5959-view-previous-applications-AboutToStart-populate-previous-applications.json
  src/functionalTest/resources/templates/minimal-application-make-new-application.json
  src/functionalTest/resources/templates/minimal-application-started.json
  src/functionalTest/resources/templates/minimal-application-submitted-record-conditions.json
  src/functionalTest/resources/templates/minimal-application-submitted.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-502

#509 RIA-9104 bails interpreter language stored incorrectly
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/utils/InterpreterLanguagesUtils.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/utils/InterpreterLanguagesUtilsTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-509

#514 DIAC-507 - DTSSE-5078 - Add stale bot
  .github/stale.yml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-514

#518 RIA-TASK - Fix functional test failure
  src/functionalTest/resources/scenarios/RIA-8794-make-new-application-AboutToSubmit-append-prior-application-with-hearing-location-information-from-ref-data.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-518
