Repository hmcts/ia-bail-case-api, pull requests merged in 2024-08, with the labels that each got.

#527 DIAC-556 Update OWASP and gradle
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-527

#495 RIA-0000 Merge refdata -> Master (DO NOT MERGE)
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.preview.template.yaml
  charts/ia-bail-case-api/values.yaml
  pacts/ia_caseApi-referenceData_court_venues.json
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/RefDataConsumerApplication.java
  src/functionalTest/resources/scenarios/RIA-8792-make-new-application-AboutToSubmit-ref-data-hearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8792-start-application-AboutToSubmit-ref-datahearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8793-edit-application-AboutToSubmit-ref-datahearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8793-edit-application-post-submit-ref-datahearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8794-make-new-application-AboutToSubmit-append-prior-application-with-hearing-location-information-from-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8801-make-new-application-AboutToSubmit-selected-hearing-centre-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8801-start-application-AboutToSubmit-selected-hearing-centre-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8802-case-listing-AboutToSubmit-initialListing-with-enabled-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8802-case-listing-AboutToSubmit-relisting-with-enabled-ref-data.json
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ListingHearingCentre.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingPreparer.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/refdata/CourtLocationCategory.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/refdata/LocationRefDataApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/HearingCentreFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-495

#530 DIAC-526 force case progression
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ForceCaseProgressionToHearingConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ForceCaseProgressionToHearingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ForceCaseProgressionToHearingConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ForceCaseProgressionToHearingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-530

#526 DIAC-527 adding new change tribunal centre event
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/BailCaseUtils.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ChangeTribunalCentreConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ChangeTribunalCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ChangeTribunalCentreConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ChangeTribunalCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-526
