Repository hmcts/ia-bail-case-api, pull requests merged in 2024-04, with the labels that each got.

#489 DIAC-355 dependency fix
  build.gradle
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-489

#487 RIA-8774 Functional tests
  Jenkinsfile_CNP
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToStart-HO-user-role-appender.json
  src/functionalTest/resources/scenarios/RIA-5851-start-application-AboutToStart-LR-ref-data.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-add-previous-case.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-change-hearing-centre.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-has-legal-rep.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-name.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-remove-nationality.json
  src/functionalTest/resources/scenarios/RIA-5914-edit-application-submitted-by-appender.json
  src/functionalTest/resources/scenarios/RIA-7945-edit-application-remove-legal-rep-details.json
  src/functionalTest/resources/scenarios/RIA-7945-make-new-application-AboutToSubmit-HO-user-role-appender-legal-rep-before.json
  src/functionalTest/resources/scenarios/RIA-7992-create-flag-AboutToStart-party-role-fcs-existing-flags.json
  src/functionalTest/resources/scenarios/RIA-7992-create-flag-AboutToStart-party-role-fcs.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-legal-rep-added.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-legal-rep-cleared.json
  src/functionalTest/resources/scenarios/RIA-7996-edit-application-generate-party-ids-supporters-cleared.json
  src/functionalTest/resources/scenarios/RIA-8000-Update-interpreter-details-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8001-Update-interpreter-booking-status-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8355-case-listing-AboutToSubmit.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-487

#493 RIA-8791 case listing allows user to indicate that the hearing is remote: DO NOT MERGE until new bails branch
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingPreparer.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingPreparerPreparerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/StartApplicationSubmitHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-493

#494 RIA-8792 Store epims id of Hearing centre when bail application is created
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/ia-bail-case-api/Chart.yaml
  charts/ia-bail-case-api/values.preview.template.yaml
  charts/ia-bail-case-api/values.yaml
  pacts/ia_caseApi-referenceData_court_venues.json
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/LocationRefDataConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/bailcaseapi/consumer/refdata/RefDataConsumerApplication.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/resources/scenarios/RIA-8792-make-new-application-AboutToSubmit-ref-data-hearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8792-start-application-AboutToSubmit-ref-datahearing-centre-appender.json
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/refdata/CourtLocationCategory.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/refdata/LocationRefDataApi.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/HearingCentreFinderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-494

#497 RIA-8793 Store epims id of Hearing centre when bail application is edited
  src/functionalTest/resources/scenarios/RIA-8793-edit-application-AboutToSubmit-ref-datahearing-centre-appender.json
  src/functionalTest/resources/scenarios/RIA-8793-edit-application-post-submit-ref-datahearing-centre-appender.json
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-497

#500 RIA-8802 bails notice of hearing displays the correct location information
  src/functionalTest/resources/scenarios/RIA-8802-case-listing-AboutToSubmit-initialListing-with-enabled-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8802-case-listing-AboutToSubmit-relisting-with-enabled-ref-data.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/clients/model/refdata/CourtVenue.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/LocationRefDataServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-500

#499 RIA-8794 Previous application displays Hearing and Listing centre co…
  src/functionalTest/resources/scenarios/RIA-8794-make-new-application-AboutToSubmit-append-prior-application-with-hearing-location-information-from-ref-data.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-499

#501 DIAC-398 no financial condition supporter on edit/make new fix
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-501
