Repository hmcts/ia-bail-case-api, pull requests merged in 2024-07, with the labels that each got.

#520 DIAC-513 Adding Thameside to prison list
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/resources/application-hearingcentre-mapping.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-520

#522 DIAC-540 - remove properties-volume-spring-boot-starter
  build.gradle
  charts/ia-bail-case-api/values.preview.template.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-522

#521 DIAC-518 Add missing prisons
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/main/resources/application-hearingcentre-mapping.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/HearingCentreFinderTest.java
Labels: ns:ia, prd:ia, enable_keep_helm, rel:ia-bail-case-api-pr-521
