Repository hmcts/ia-bail-case-api, pull requests merged in 2024-05, with the labels that each got.

#503 RIA-8801 Case list filters for tribunal centre use reference data
  src/functionalTest/resources/scenarios/RIA-8801-make-new-application-AboutToSubmit-selected-hearing-centre-ref-data.json
  src/functionalTest/resources/scenarios/RIA-8801-start-application-AboutToSubmit-selected-hearing-centre-ref-data.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DeriveHearingCentreHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-503

#504 DIAC-401 - update java charts
  charts/ia-bail-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-504

#505 RIA-8913 Updates to enable HO events for HO POU users
  src/main/resources/application.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-505

#506 RIA-8913 - To fix HO pou user permission issue
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRole.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsHelper.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/UserRoleTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-506

#511 DIAC-401 Update Chart Version
  charts/ia-bail-case-api/Chart.yaml
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-511

#512 RIA-9110 Updates to fix FT scenario names
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-512
