Repository hmcts/ia-bail-case-api, pull requests merged in 2024-01, with the labels that each got.

#440 RIA-8348 Added caseListing event
  config/owasp/suppressions.xml
  src/functionalTest/resources/scenarios/RIA-8348-listing-case-confirmation-initialListing.json
  src/functionalTest/resources/scenarios/RIA-8348-listing-case-confirmation-relisting.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ListingCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ListingCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-440

#441 RIA-8355 Added pre upload bail summary state
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/CcdScenarioRunnerTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bailcaseapi/util/AuthorizationHeadersProvider.java
  src/functionalTest/resources/scenarios/RIA-5948-upload-bail-summary-confirmation.json
  src/functionalTest/resources/scenarios/RIA-8355-case-listing-AboutToSubmit.json
  src/functionalTest/resources/scenarios/RIA-8355-upload-bail-summary-AboutToStart-already-uploaded.json
  src/functionalTest/resources/scenarios/RIA-8355-upload-bail-summary-AboutToSubmit-after-case-listing.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/eventvalidation/UploadBailSummaryEventValidChecker.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/eventvalidation/UploadBailSummaryEventValidCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/util/LoggerUtil.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-441

#444 RIA-8349 RIA-8352 Bail case listing notifications
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-444

#445 RIA-8408 Added hearing case fields to make new application list
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/BailCaseDataConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailFieldCaseNameFixer.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/service/BailCaseNameFixerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-445

#443 DIAC-108 turning on fortify
  Dockerfile
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-443

#446 RIA-8448 Fixed case listing flag for bail summary upload
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-446

#447 RIA-8353 Added case listing direction
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ListingEvent.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ListingCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DueDateService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/CountryHolidayDates.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/GovUkHolidayDatesClient.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayDate.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayLoader.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/UkHolidayDates.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ListingEventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DueDateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/CountryHolidayDatesTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayDateTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayLoaderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/HolidayServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/holidaydates/UkHolidayDatesTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-447

#448 RIA-8195 new ima status event
  src/functionalTest/resources/scenarios/RIA-8195-new-event-IMA-status.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/Event.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ImaStatusConfirmation.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/EventTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ImaStatusConfirmationTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-448

#450 RIA-8445 Defaulting fcsInterpreterYesNo to No when FCS are removed when editing
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ApplicationDataRemoveHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-450

#449 RIA-8197 update_decision_option
  src/functionalTest/resources/scenarios/RIA-8197-record-the-decision-AboutToSubmit-decision-type-appender-refused-under-ima-dgr.json
  src/functionalTest/resources/scenarios/RIA-8197-record-the-decision-AboutToSubmit-decision-type-appender-refused-under-ima-dl.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/ccd/DecisionType.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-449

#451 RIA-8488 updated yarlswood to yarlsWood Hearing Centre
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentre.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/HearingCentreTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-451

#454 RIA-8238 make_app_ut
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/MakeNewApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-454

#455 RIA-8499 Content change for HO Bail summmary direction
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-455

#452 RIA-8410 Generate and store hearing notice on 'Case listing' event
  src/functionalTest/resources/RIA-8410-generate-hearing-notice-on-case-listing-event.json
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ListingCaseConfirmation.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/postsubmit/ListingCaseConfirmationTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/GenerateDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-452

#456 RIA-8410 Fix issue with casting to incompatible type
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendDirectionHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-456

#458 RIA-8494 fix due date calculation
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DueDateService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/CaseListingHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/DueDateServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-458

#459 RIA-8497 Fixed FCS language validation bug
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/FcsInterpreterCategoryValidator.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/FcsInterpreterCategoryValidatorTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-459

#460 RIA-8198 decision refused under ima
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/SendNotificationHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-460

#461 RIA-8420 Display hearing documents on previous applications screen
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTag.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/DocumentTagTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-461

#462 RIA-8507 Fix bug for previous applications with optional FCS passport number
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationServiceTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-462

#463 RIA-8195 ima_bugs
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppender.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/IsApplicantBeenRefusedFlagHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/ShowPreviousApplicationService.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/DecisionTypeAppenderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-463

#464 RIA-8507 Fix the field type for fcs_has_passport in BailCaseFieldDefi…
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-464

#465 RIA-8517 Enable PartyIdHandler for MakeNewApplication event
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/PartyIdHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/PartyIdHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-465

#467 RIA-8195 ima_showing_condition_fix
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinition.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandler.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandler.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/entities/BailCaseFieldDefinitionTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/ImaStatusHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/UploadBailSummaryDocumentHandlerTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-467

#345 RIA-6987 - Changes to add cache
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/BadRequestsTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/AddCaseNoteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/component/MoveApplicationToDecidedTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/config/Config.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/config/OpenAPIPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/EditDocsCaseNoteServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bailcaseapi/domain/handlers/presubmit/HearingCentreTest.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/IdamService.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/CacheConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/config/UserDetailsProviderConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamAuthoritiesConverter.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamSystemTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamSystemUserProvider.java
  src/main/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsProvider.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/domain/service/IdamServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamAuthoritiesConverterTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamSystemUserProviderTest.java
  src/test/java/uk/gov/hmcts/reform/bailcaseapi/infrastructure/security/idam/IdamUserDetailsProviderTest.java
Labels: ns:ia, prd:ia, rel:ia-bail-case-api-pr-345, enable_keep_helm
